{% extends "::base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 contactTitre">
            <h2 class="text-center"><strong>Pour nous contacter</strong></h2>
        </div>
    </div>

{# --- class des sous-titre --- #}
        
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center"><strong>Service client</strong></h3>
        </div>
            
        <div class="col-md-4">
            <h3 class="text-center"><strong>Service plaintes</strong></h3>
        </div>
            
        <div class="col-md-4">
            <h3 class="text-center"><strong>Service Suggestion</strong></h3>
        </div>
    </div>

{# --- class téléphone mail --- #}
    <div class="row">
        <div class="col-md-4">
            <ul class="puce">
                <li class="text-center">téléphone : 04 XX XX XX XX</li> 
                <li class="text-center"><a>mail : sav@ma-cagette.fr</a></li>
            </ul>
        </div>
            
        <div class="col-md-4">
            <ul class="puce">
                <li class="text-center">téléphone : 04 XX XX XX XX</li>
                <li class="text-center"><a>mail : sav@ma-cagette.fr</a></li>
            </ul>
        </div>
            
        <div class="col-md-4">
            <ul class="puce">
                <li class="text-center">téléphone : 04 XX XX XX XX</li>
                <li class="text-center"><a>mail : sav@ma-cagette.fr</a></li>
            </ul>
        </div>
    </div>
    
</div>

{% endblock %}
