{% extends "::base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <h1 class="text-center">Pour nous contacter</h1>
        </div>

{# ---class sous-titre--- #}
        <div class="row">
            
            <div class="col-md-4">
                <h3>Service client</h3>
            </div>
            
            <div class="col-md-4">
                <h3>Service plaintes</h3>
            </div>
            
            <div class="col-md-4">
                <h3>Service Suggestion</h3>
            </div>
        </div>

{# ---class téléphone mail #}
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li><a>téléphone : 04 XX XX XX XX</a></li>
                    <li><a>mail : sav@ma-cagette.fr</a></li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <ul>
                    <li><a>téléphone : 04 XX XX XX XX</a></li>
                    <li><a>mail : sav@ma-cagette.fr</a></li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <ul>
                    <li><a>téléphone : 04 XX XX XX XX</a></li>
                    <li><a>mail : sav@ma-cagette.fr</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
