<footer>
    <div style="min-height: 250px;" class="footer" id="footer-sub">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5> AIDE </h5>
                    <ul>
                        <li><a href="">Livraison</a><hr ></li>
                        <li><a href="">FAQ</a></li>               
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5> MA CAGETTE </h5>
                    <ul>
                        <li><a href="{{ path('app_contact_contactafficher') }}">Nous contacter</a><hr></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Vendre sur notre site</a></li>               
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5> DIVERS </h5>
                    <ul>
                        <li><a href="">Newsletter</a><hr></li>
                        <li><a href="">Sitemap</a></li>               
                    </ul>
                </div>
            </div>
            <hr style="margin-bottom:0px; margin-top:30px; padding:0px;">
            <div class="row" id="sub-two">
                <div class="col-md-4">
                    <div class="vertical-line text-center">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <h4>Suivi de commande</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="vertical-line text-center">
                        <span class="glyphicon glyphicon-refresh"></span>
                        <h4>Retour facile et gratuit</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="margin:8px;" class="text-center">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <h4 style="color:#6d6c6c;">Annulation en ligne</h4>
                    </div>
                </div>
            </div>
            <hr style="margin-bottom:30px; margin-top:0px; padding:0px;">
        </div>
    </div>
    <div style="min-height: 50px;" id="footer-main">
        <ul>
            <li><a href=""><b>A propos de nous</b></a></li>
            <li><a href=""><b>Nos partenaires</b></a></li>
            <li><a href=""><b>Termes & Conditions</b></a></li>
        </ul>
        <div id="social-menu">
            <ul>
                <li><a href=""><img style="max-width:18px; margin-top: -7px;" src=""></a></li>
                <li><a href=""><img style="max-width:18px; margin-top: -7px;" src=""></a></li>
                <li><a href=""><img style="max-width:18px; margin-top: -7px;" src=""></a></li>
            </ul>
        </div>
    </div>
</footer>