{% extends "::base.html.twig" %}

{% block title %}Catalogue{% endblock %}

{% block body %}


    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Catégorie</th>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Prix</th>
                        </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td>Fruits</td>
                            <td>Bananes</td>
                            <td>je suis la grosse description du produit par ce que blblblal bla lbla lz zek okdmq kmf kdmoqskd kqspdkqkdk qoskdpo kspd kqskdo qskdpo kqsdk qpskd qksmldk mqlskdml kqsmdk qksdk qoskdpo kqsdk poqskdopqk sdkpoq ksodk qopskdpok qposkdo kqsdk poqksdok qposkd kqspkd qsd</td>
                            <td>5 €</td>
                        </tr>
                        <tr>
                            <td>Légumes</td>
                            <td>Pommes de terres</td>
                            <td>je suis la grosse description du produit par ce que blblblal bla lbla lz zek okdmq kmf kdmoqskd kqspdkqkdk qoskdpo kspd kqskdo qskdpo kqsdk qpskd qksmldk mqlskdml kqsmdk qksdk qoskdpo kqsdk poqskdopqk sdkpoq ksodk qopskdpok qposkdo kqsdk poqksdok qposkd kqspkd qsd</td>
                            <td>5 €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Bananes</td>
                            <td>je suis la grosse description du produit par ce que blblblal bla lbla lz zek okdmq kmf kdmoqskd kqspdkqkdk qoskdpo kspd kqskdo qskdpo kqsdk qpskd qksmldk mqlskdml kqsmdk qksdk qoskdpo kqsdk poqskdopqk sdkpoq ksodk qopskdpok qposkdo kqsdk poqksdok qposkd kqspkd qsd</td>
                            <td>5 €</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
{% endblock %}
