<nav class="row navbar navbar-default nav-marge">
    <!-- Boutons menu -->
    <div class="container-fluid">
        <div class="col-md-12 ">
            <div class="nav navbar-nav row">
                {% for category in categories %}
                    <button id="" class=" btn menuCategory btn_class" href="#">{{ category.catName }}</button>
                    <div class="nav">

                        {% for subCategory in category.subCategories %}
                            <button id="" class="btn menuButton btn_sclass" href="">{{ subCategory.subName }}</button>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
