<nav class="row navbar navbar-default nav-marge">
    <!-- Boutons menu -->
    <div class="container-fluid">
        <div class="col-md-12 ">
            <div class="nav navbar-nav row">
                {% for category in categories %}
                    <a id="" class=" btn menuCategory btn_class" href="/category/{{ category.catName }}">{{ category.catName }}</a>
                    <div class="nav">

                        {% for subCategory in category.subCategories %}
                            <a id="" class="btn menuButton btn_sclass" href="/category/subCategory/{{ subCategory.subName }}">{{ subCategory.subName }}</a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
