<div>

    {% for category in categories %}

        <p>{{ category.catName }}</p>
            <ul>
            
                {% for subCategory in category.subCategories %}

                    <li class='puce'><a href="#">{{ subCategory.subName }}</a></li>

                {% endfor %}

            </ul>

    {% endfor %}

</div>