.row [class^="col-"] {
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.content {
    padding: 40px 15px;
    text-align: center;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.carousel-inner>.item>img {
    margin: 0 auto;
}

.puce {
    list-style-type: none; 
}

.espace {
    line-height: 200px;
}