{% extends "::base.html.twig" %}

{% block title %}AppBundle:Accueil:ContactAfficher{% endblock %}

{% block body %}

<div class="container">

    <div class="row">

        <div class="col-xs-6 col-xs-offset-3">

            <h1>Pour nous contacter</h1>

        </div>

        <div class="row">

            <div class="col-xs-4">

                <h4>Service client</h4>

                <ul>
                    
                    <li>téléphone : 04 XX XX XX XX</li>
                    <li>mail : sav@ma-cagette.fr</li>
                    
                </ul>

            </div>

                        <div class="col-xs-4">

                <h4>Service plaintes</h4>

                <ul>
                    
                    <li>téléphone : 04 XX XX XX XX</li>
                    <li>mail : plaintes@ma-cagette.fr</li>
                    
                </ul>

            </div>

                        <div class="col-xs-4">

                <h4>Service Suggestion</h4>

                <ul>
                    
                    <li>téléphone : 04 XX XX XX XX</li>
                    <li>mail : suggestion@ma-cagette.fr</li>
                    
                </ul>

            </div>
            
        </div>

    </div>

</div>
{% endblock %}
